*{
    background: #F3F5FC ;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
}

main{
    display: flex;
    justify-content: space-between;
}
.primer-section{
    height: 626.5px;
    width: 67%;
}
.logo{
    padding-top: 2em;
    padding-left: 0.5em;
    width: 10%;
}
.primer-textarea{
    resize: none;
    width: 62%;
    height: 63%;
    border: none;
    left: 19%;
    top: 7%;
    font-family: 'Inter';
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    background-color: #F3F5FC;
    position: relative;
}
.primer-textarea::placeholder{
    color: #0a3871;
}
.primer-textarea:focus,
.seg-textarea,
.primer-textarea:active{
    border: none;
    outline: none;
}
.div-terminos{
    width: 59%;
    position: relative;
    top: 10%;
    left: 19%;
    border: 1px solid red;
    border-radius: 12px;
    padding: 10px;
    visibility: hidden;
}

.terminos{
    margin-bottom: 12px;
    display: block ruby;
    width: 100%;
    font-size: 1.2em;
}
.sig-exclamation{
    height: 14px;
    top: 2px;
    position: relative;
}
.div-botones, .div-boton-pegar{
    position: relative;
    top: 12%;
    text-align: center;
    height: 46.5px;
}
.div-boton-pegar{
    display: none;
}
button{
    height: 46px;
    width: 30%;
    border-radius: 14px;
    cursor: pointer;
    font-size: 1.4em;
    border: 1px solid #0A3871;
}
button:hover{
    font-size: 1.5em;
}
.btn-1{
    background: #0A3871;
    color: #D8DFE8;
    margin-right: 0.5em;
}
.btn-2{
    color: #0A3871;
    background: #d8dfe8;
    margin-left: 0.5em;
}


.segunda-section{
    border-radius: 20px;
    width: 23%;
    margin-right: 4em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #FFF;
    padding: 0 1.4em;
}
.img-muñeco{
    width: 100%;
    margin-top: 4em;
}
.div-mensaje-text{
    background: #FFF;
}
.mensaje{
    text-align: center;
    font-size: 1.5em;
    line-height: 1;
    padding: 1em 0;
    background: #FFF;
}
.seg-textarea{
    width: 100%;
    height: 8em;
    text-align: center;
    background: #FFF;
    resize: none;
    padding: 0px;
    margin: 0px;
}
.btn-copiar{
    width: 100%;
    position: relative;
    top: 4%;
    color: #0A3871;
    visibility: hidden;
}